.App {
  text-align: center;
}

.poster {
  width: 90vw;
}
.poster:hover {
  opacity: 0.8;
}

.rev-card {
  display: flex;
}

.revs-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}
